.git
.gitignore
.github
.github/**
.vs
.vscode
benchmarks
docs/**
!docs/nuget/
!docs/nuget/README.nuget.md
samples
tests
**/bin/
**/obj/
**/*.user
**/*.suo
**/*.swp
**/.DS_Store
src/Pkcs11Wrapper.Admin.Web/App_Data/
